config RPMSG
	tristate "Virtio-based remote processor messaging bus"
	select VIRTIO
	select VIRTIO_RING
	depends on OMAP_RPMSG
	---help---
	  This virtio driver provides support for shared-memory-based
          remote processor messaging, by registering the RPMSG bus which
          in turn enables a handful of IPC drivers.

	  Such support is usually required to offload cpu-intensive
          or latency-sensitive tasks to specialized remote processors with
          dedicated hardware accelerators and/or real-time properties.

	  If unsure, say N.
