config RPMSG
	tristate "Virtio-based remote processor messaging bus"
	default y
	select VIRTIO
	select VIRTIO_RING
	depends on OMAP_RPMSG
	---help---
	  This virtio driver provides support for shared-memory-based
          remote processor messaging, by registering the RPMSG bus which
          in turn enables a handful of IPC drivers.

	  Such support is usually required to offload cpu-intensive
          or latency-sensitive tasks to specialized remote processors with
          dedicated hardware accelerators and/or real-time properties.

	  If unsure, say N.

config RPMSG_OMX
	tristate "rpmsg OMX driver"
	default y
	depends on RPMSG
	depends on TI_TILER
	---help---
	  An rpmsg driver that exposes OMX API to user space, in order to
	  allow multimedia applications to offload OMX processing to
	  remote processors.

	  If unsure, say N.

config RPMSG_RESMGR
	tristate "rpmsg resource manager"
	default y
	depends on RPMSG
	depends on OMAP_RPRES
	---help---
	  Add Framework base on RPMSG to request and release resources
	  from a remote Processor.
	  Say either Y or M. You know you want to.

config RPMSG_CLIENT_SAMPLE
	tristate "An rpmsg client sample"
	default m
	depends on RPMSG
	---help---
	  This is just a sample client driver for the rpmsg bus.
	  Say either Y or M. You know you want to.

config RPMSG_SERVER_SAMPLE
	tristate "An rpmsg server sample"
	default m
	depends on RPMSG
	---help---
	  This is just a sample server driver for the rpmsg bus.
	  Say either Y or M. You know you want to.
